POSTGRES_USER=smart
POSTGRES_PASSWORD=smart
POSTGRES_DB=smart
POSTGRES_HOST=postgres
POSTGRES_PORT=5432

BACKEND_PORT=8000
APP_NAME=smart-backend
DEBUG=false

OLLAMA_HOST=ollama
OLLAMA_PORT=11434
OLLAMA_MODEL_NAME=qwen3-0.6b

EMBEDDING_MODEL_PATH=app/models/MiniLM-L12-V2